body {
  margin: 0;
  /* background: url("../src/assets/images/logo4.png") no-repeat center;
  background-size: cover;
  background-size: 40%; */
  /* Для добавления прозрачности используем rgba */
  background-color: rgba(255, 255, 255, 0.2); /* Пример: белый с 50% прозрачностью */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.logo {
  height: 200px;
  padding-right: 4rem;
}

@media (max-width: 780px) {
  .logo {
    height: 50px; 
    padding-right: 2rem;
  }
}

.card-content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  cursor: pointer;
  z-index: 5;
  padding: 0.9rem;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
    border-radius: 10px;
  }
}


.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  width: 50rem;
  max-width: 95%;
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);

  animation: show 500ms ease-in-out;
}



.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color:#fff;
}

.basket-delete {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;

  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.basket-quantity {
  cursor: pointer;
  vertical-align: middle;
  color: #00796b
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}


/* Шрифты */
@font-face {
	font-family: "PT Astra Sans Italic";
	src: url("../src/assets/fonts/PT-Astra-Sans_Bold-Italic.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Bold";
	src: url("../src/assets/fonts/PT-Astra-Sans_Bold.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Bold Italic";
	src: url("../src/assets/fonts/PT-Astra-Sans_Italic.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Regular";
	src: url("../src/assets/fonts/PT-Astra-Sans_Regular.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}


html,
body,
#root
.app,
.content {
  height:  100%;
  width: 100%;
  font-family: 'as-italic';
}

.app {
  display: flex;
  position: relative;
}


.btn {
 background-color: #2196F3;
}