body {
  margin: 0;
  background-color: #EBE6D6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Мобильные устройства */
@media (max-width: 600px) {
  body {
    font-size: 14px; /* Уменьшение размера шрифта для мобильных устройств */
  }
}

/* Планшеты */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px; /* Увеличение размера шрифта для планшетов */
  }
}

/* Десктопы */
@media (min-width: 1025px) {
  body {
    font-size: 20px; /* Увеличение размера шрифта для декстопов */
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  max-width: 400px; /* Максимальная ширина */
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .card {
      width: 90%; /* Уменьшаем ширину карточки */
      margin: 0 auto; /* Центрируем карточку */
      display: block; /* Убедитесь, что карточка отображается как блок */
  }
  .input-field input {
      font-size: 16px; /* Уменьшаем размер шрифта полей ввода */
      padding: 10px; /* Увеличиваем отступы для удобства */
  }
}

@media (max-width: 380px) {
  .card {
    width: 40%; /* Уменьшаем ширину карточки */
    margin: 0 auto; /* Центрируем карточку */
    display: block; /* Убедитесь, что карточка отображается как блок */
}
.input-field input {
  font-size: 13px; /* Уменьшаем размер шрифта полей ввода */
  padding: 8px; /* Увеличиваем отступы для удобства */
}
}

.material-icons {
  cursor: pointer;
  color: rgb(247, 247, 247); /* Или другой цвет по вашему выбору */
  margin-top: 10px; /* Отступ сверху */
  background-color:  transparent;
  border: none;
}

.logo {
  height: 200px;
  padding-right: 4rem;
}

@media (max-width: 780px) {
  .logo {
    height: 50px;
    padding-right: 1rem;
  }
}

.card-content {
  flex-grow: 1;
}


@keyframes show {
  from {
    top: 70%;
    opacity: 0;

  }
  to {
    top: 50%;
    opacity: 1;
  }
}

#toast-container {
  top: 3rem !important;
  animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}


/* Шрифты */
@font-face {
	font-family: "PT Astra Sans Italic";
	src: url("../src/assets/fonts/PT-Astra-Sans_Bold-Italic.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Bold";
	src: url("../src/assets/fonts/PT-Astra-Sans_Bold.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Bold Italic";
	src: url("../src/assets/fonts/PT-Astra-Sans_Italic.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Astra Sans Regular";
	src: url("../src/assets/fonts/PT-Astra-Sans_Regular.ttf") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}


html,
body,
#root
.app,
.content {
  height:  100%;
  width: 100%;
  font-family: 'as-italic';
}

.app {
  display: flex;
  position: relative;
}


.btn {
 background-color: #D20A11;
}

.btn:hover {
  color: black;
  background-color: #EBE6D6
}

.nameuser {
  padding-right: 2rem;
}

.full-title {
  display: block;
}
.short-title {
  display: none;
}


@media (max-width: 1040px) {
  .full-title {
    display: none;
  }
  .short-title {
    display: block;
  }

  .full-contact {
    display: none;
  }


  .nav-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.mobile-buttons {
  
  justify-content: center;
  margin-top: -6px;
  padding-bottom: 40px;
}

